*checkpoints*
__pycache__/*
**/__pycache__/*
.ipynb_checkpoints/starfix-pynb-checkpoint.ipynb
testing*
*.html
*.json
.venv/**
.venv-buildozer/**
.buildozer/**
.idea/**
bin/**
tiles/**
celeste_debug.txt
validation/results
validation/venv









