*checkpoints*
__pycache__/*
**/__pycache__/*
.ipynb_checkpoints/starfix-pynb-checkpoint.ipynb
testing*
*.html
*.json
.venv/**
.venv-buildozer/**
.buildozer/**
.idea/**
bin/**
# These are used for deployment of the mobile app.
# See DEVELOPMENT.md
folium/**
branca/**
jinja2/**




